{
        "folder_id": "11123455",
	      "service_account_key_file": "packer/key.json.example",
        "source_image_family": "ubuntu-1604-lts",
        "instance_mem_gb" : "2",
        "disk_size_gb": "8",
        "instance_name":"salenjhons-instance-{{timestamp}}",
        "image_name": "my-app-salenjhons-{{timestamp}}",
        "image_family" : "reddit-full"
}
