~/otus_git/salenjhons_infra/packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*tfvars
.terraform/
*key.json
~/otus_git/salenjhons_infra/ansible/vault.key
.vagrant/
*.log
*.pyc
.cache
.pytest_cache
